* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1250px;
  margin: auto;
}
.top-header {
  text-align: center;
  padding: 50px 0px;
}
.top-header p {
  line-height: 35px;
}

/* header css */
.main-header {
  background-color: #151515;
  padding: 30px 0px;
}
nav.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-6 ul {
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.col-3 {
  width: 30%;
}
.col-6 {
  width: 60%;
}
.col-3.icon {
  text-align: end;
}

/* Blog Section => Left Sidebar */
.container.blog-section {
  display: flex;
  column-gap: 30px;
  padding-bottom: 50px;
}
.left-sidebar {
  width: 70%;
}
.left-sidebar img {
  width: 100%;
}
.top-heading {
  font-size: 28px;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 70px;
  font-weight: 600;
}
.bottom-line {
  width: 50%;
  border-bottom: 3px solid #ff0000;
  display: inline-block;
  margin-bottom: 30px;
}
h4.category {
  font-size: 18px;
  background: #ff0000;
  color: #fff;
  line-height: 22px;
  display: inline-block;
  margin: 20px 0px;
  padding: 10px 15px;
  border-radius: 10px;
}
.blog-tittle {
  font-size: 40px;
  line-height: 45px;
  width: 80%;
}
p.meta-text {
  font-size: 16px;
  font-weight: 400;
  color: #151515;
  line-height: 46px;
  margin-top: 10px;
}
p.description {
  font-size: 18px;
  font-weight: 400;
  color: #151515;
  line-height: 30px;
  font-family: monospace;
  margin-bottom: 20px;
}
/* <!-- left sidebar bottom --> */
.left-second-section{
  margin-top: 30px;
  display: flex;
  column-gap: 30px;
}
/* Right Sidebar */
.right-sidebar {
  width: 30%;
}
.right-sidebar-heading {
  font-size: 28px;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-weight: 600;
}
.right-blog-tittle {
  color: #151515;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.image-box{
    display: flex;
}


.right-bottom-blog-list{
  display: flex;
  column-gap: 10px;
  margin-top: 30px;
}
.right-bottom-blog p {
  margin: 0px;
}
.right-line{
  margin: 20px 0px;
}

footer{
  background-color: #011321;
  padding: 150px 0px;
}
.footer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
.footer-content ul{
  color: white;
  font-size: 26px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 50px;
}
.footer-content p {
  color: rgba(255, 255, 255, 0.40);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}